 {
    margin:0;
    padding:0;
    font-family: 'Rubik Moonrocks', cursive;
}
nav {
    margin:auto;
    display:flex;
    justify-content:space-between;
    padding:20px 100px;
}
#Drop {
    display:flex;
    justify-content:space-evenly;
    width:300px;
}
#ballH{
    display:flex;
    background-color: silver;
    padding: 50px 0;
}
#ball{
    width:200px;
    height:200px;
    border-radius: 50%;
    background-image:url();
    position: relative;
    animation-name: leftright;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#team{
    width:400px;
}
section {
    display:flex;
    justify-content:space-evenly;
    padding:50px 0;
    line-height: 1.8;
}
#mission {
    width:800px;
}
img {
    width:100%;
}
@keyframes leftright{
    from{left:calc(0% + 100px);}
    to{left:calc(100% - 200px);}
}